In [1]:
# ignore warnings
import warnings
warnings.filterwarnings("ignore")
# Wrangling
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler
# Statistical Tests
import scipy.stats as stats
from scipy.stats import norm
# Visualizing
import matplotlib.pyplot as plt
from matplotlib import cm
import matplotlib.dates as dates
import seaborn as sns
from sklearn.model_selection import learning_curve
import datetime
pd.options.display.float_format = '{:20,.2f}'.format
import env

In [2]:
import wrangle

from wrangle import get_zillow_data

In [3]:
df = get_zillow_data()

In [4]:
df.head()

,typeconstructiontypeid,storytypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,parcelid,id,basementsqft,bathroomcnt,...,taxdelinquencyyear,censustractandblock,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,storydesc,typeconstructiondesc
0,nan,nan,2.00,nan,nan,nan,10711855,1087254,nan,2.00,...,nan,"60,371,132,321,007.00",-0.01,2017-07-07,None,None,None,Central,None,None
1,nan,nan,2.00,nan,nan,1.00,10711877,1072280,nan,2.00,...,nan,"60,371,132,321,007.00",0.02,2017-08-29,Central,None,None,Central,None,None
2,nan,nan,2.00,nan,nan,1.00,10711888,1340933,nan,2.00,...,nan,"60,371,132,321,007.00",0.08,2017-04-04,Central,None,None,Central,None,None
3,nan,nan,2.00,nan,nan,nan,10711910,1878109,nan,2.00,...,nan,"60,371,132,321,008.00",-0.04,2017-03-17,None,None,None,Central,None,None
4,nan,nan,2.00,nan,nan,nan,10711923,2190858,nan,2.00,...,nan,"60,371,132,321,008.00",-0.01,2017-03-24,None,None,None,Central,None,None

In [5]:
df.shape

(77413, 67)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77413 entries, 0 to 77412
Data columns (total 67 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   typeconstructiontypeid        222 non-null    float64
 1   storytypeid                   50 non-null     float64
 2   heatingorsystemtypeid         49439 non-null  float64
 3   buildingclasstypeid           15 non-null     float64
 4   architecturalstyletypeid      206 non-null    float64
 5   airconditioningtypeid         24953 non-null  float64
 6   parcelid                      77413 non-null  int64
 7   id                            77413 non-null  int64
 8   basementsqft                  50 non-null     float64
 9   bathroomcnt                   77380 non-null  float64
 10  bedroomcnt                    77380 non-null  float64
 11  buildingqualitytypeid         49671 non-null  float64
 12  calculatedbathnbr             76771 non-null  float64
 13  decktypeid                    614 non-null    float64
 14  finishedfloor1squarefeet      6023 non-null   float64
 15  calculatedfinishedsquarefeet  77184 non-null  float64
 16  finishedsquarefeet12          73748 non-null  float64
 17  finishedsquarefeet13          41 non-null     float64
 18  finishedsquarefeet15          3009 non-null   float64
 19  finishedsquarefeet50          6023 non-null   float64
 20  finishedsquarefeet6           386 non-null    float64
 21  fips                          77380 non-null  float64
 22  fireplacecnt                  8276 non-null   float64
 23  fullbathcnt                   76771 non-null  float64
 24  garagecarcnt                  25474 non-null  float64
 25  garagetotalsqft               25474 non-null  float64
 26  hashottuborspa                1538 non-null   float64
 27  latitude                      77380 non-null  float64
 28  longitude                     77380 non-null  float64
 29  lotsizesquarefeet             69141 non-null  float64
 30  poolcnt                       16137 non-null  float64
 31  poolsizesum                   867 non-null    float64
 32  pooltypeid10                  464 non-null    float64
 33  pooltypeid2                   1074 non-null   float64
 34  pooltypeid7                   15042 non-null  float64
 35  propertycountylandusecode     77380 non-null  object
 36  propertylandusetypeid         77380 non-null  float64
 37  propertyzoningdesc            50330 non-null  object
 38  rawcensustractandblock        77380 non-null  float64
 39  regionidcity                  75909 non-null  float64
 40  regionidcounty                77380 non-null  float64
 41  regionidneighborhood          30890 non-null  float64
 42  regionidzip                   77330 non-null  float64
 43  roomcnt                       77380 non-null  float64
 44  threequarterbathnbr           10096 non-null  float64
 45  unitcnt                       50562 non-null  float64
 46  yardbuildingsqft17            2388 non-null   float64
 47  yardbuildingsqft26            70 non-null     float64
 48  yearbuilt                     77117 non-null  float64
 49  numberofstories               17560 non-null  float64
 50  fireplaceflag                 172 non-null    float64
 51  structuretaxvaluedollarcnt    77268 non-null  float64
 52  taxvaluedollarcnt             77379 non-null  float64
 53  assessmentyear                77380 non-null  float64
 54  landtaxvaluedollarcnt         77378 non-null  float64
 55  taxamount                     77375 non-null  float64
 56  taxdelinquencyflag            2886 non-null   object
 57  taxdelinquencyyear            2886 non-null   float64
 58  censustractandblock           77136 non-null  float64
 59  logerror                      77413 non-null  float64
 60  transactiondate               77413 non-null  object
 61  airconditioningdesc           24953 non-null  object
 62  architecturalstyledesc        206 non-null    object
 63  buildingclassdesc             15 non-null     object
 64  heatingorsystemdesc           49439 non-null  object
 65  storydesc                     50 non-null     object
 66  typeconstructiondesc          222 non-null    object
dtypes: float64(55), int64(2), object(10)
memory usage: 39.6+ MB

In [7]:
df.describe()

,typeconstructiontypeid,storytypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,parcelid,id,basementsqft,bathroomcnt,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyyear,censustractandblock,logerror
count,222.00,50.00,"49,439.00",15.00,206.00,"24,953.00","77,413.00","77,413.00",50.00,"77,380.00",...,"17,560.00",172.00,"77,268.00","77,379.00","77,380.00","77,378.00","77,375.00","2,886.00","77,136.00","77,413.00"
mean,6.04,7.00,3.92,3.93,7.39,1.81,"13,006,697.32","1,495,761.15",679.72,2.30,...,1.43,1.00,"189,315.98","490,137.46","2,016.00","301,096.94","5,995.57",14.09,"60,496,735,236,339.62",0.02
std,0.56,0.00,3.59,0.26,2.73,2.97,"3,480,712.14","861,270.67",689.70,1.00,...,0.54,0.00,"230,088.56","653,447.67",0.00,"492,599.03","7,622.89",2.19,"1,535,251,869,244.56",0.17
min,4.00,7.00,1.00,3.00,2.00,1.00,"10,711,855.00",349.00,38.00,0.00,...,1.00,1.00,44.00,"1,000.00","2,016.00",161.00,19.92,3.00,"60,371,011,101,000.00",-4.66
25%,6.00,7.00,2.00,4.00,7.00,1.00,"11,538,336.00","752,413.00",273.00,2.00,...,1.00,1.00,"84,265.00","207,000.00","2,016.00","85,504.00","2,715.59",14.00,"60,373,109,005,001.75",-0.02
50%,6.00,7.00,2.00,4.00,7.00,1.00,"12,530,673.00","1,498,471.00",515.00,2.00,...,1.00,1.00,"136,499.50","358,976.00","2,016.00","203,383.50","4,450.72",15.00,"60,376,032,003,008.00",0.01
75%,6.00,7.00,7.00,4.00,7.00,1.00,"14,211,486.00","2,241,718.00",796.50,3.00,...,2.00,1.00,"218,787.50","569,003.00","2,016.00","366,802.25","6,927.80",15.00,"60,590,423,251,008.00",0.04
max,13.00,7.00,24.00,4.00,21.00,13.00,"167,689,317.00","2,985,182.00","3,560.00",18.00,...,6.00,1.00,"11,421,790.00","49,061,236.00","2,016.00","48,952,198.00","586,639.30",99.00,"483,030,105,084,015.00",5.26

In [8]:
df.isnull().sum()

typeconstructiontypeid          77191
storytypeid                     77363
heatingorsystemtypeid           27974
buildingclasstypeid             77398
architecturalstyletypeid        77207
airconditioningtypeid           52460
parcelid                            0
id                                  0
basementsqft                    77363
bathroomcnt                        33
bedroomcnt                         33
buildingqualitytypeid           27742
calculatedbathnbr                 642
decktypeid                      76799
finishedfloor1squarefeet        71390
calculatedfinishedsquarefeet      229
finishedsquarefeet12             3665
finishedsquarefeet13            77372
finishedsquarefeet15            74404
finishedsquarefeet50            71390
finishedsquarefeet6             77027
fips                               33
fireplacecnt                    69137
fullbathcnt                       642
garagecarcnt                    51939
garagetotalsqft                 51939
hashottuborspa                  75875
latitude                           33
longitude                          33
lotsizesquarefeet                8272
poolcnt                         61276
poolsizesum                     76546
pooltypeid10                    76949
pooltypeid2                     76339
pooltypeid7                     62371
propertycountylandusecode          33
propertylandusetypeid              33
propertyzoningdesc              27083
rawcensustractandblock             33
regionidcity                     1504
regionidcounty                     33
regionidneighborhood            46523
regionidzip                        83
roomcnt                            33
threequarterbathnbr             67317
unitcnt                         26851
yardbuildingsqft17              75025
yardbuildingsqft26              77343
yearbuilt                         296
numberofstories                 59853
fireplaceflag                   77241
structuretaxvaluedollarcnt        145
taxvaluedollarcnt                  34
assessmentyear                     33
landtaxvaluedollarcnt              35
taxamount                          38
taxdelinquencyflag              74527
taxdelinquencyyear              74527
censustractandblock               277
logerror                            0
transactiondate                     0
airconditioningdesc             52460
architecturalstyledesc          77207
buildingclassdesc               77398
heatingorsystemdesc             27974
storydesc                       77363
typeconstructiondesc            77191
dtype: int64

In [9]:
from wrangle import clean_zillow

In [10]:
df = clean_zillow(df)

In [11]:
df.head()

,typeconstructiontypeid,storytypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,basementsqft,bathroomcnt,bedroomcnt,decktypeid,...,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,storydesc,typeconstructiondesc,age_of_home,bath_pers_qft,la_county,orange_county,ventura_county
parcelid,,,,,,,,,,,,,,,,,,,,,
10711855,nan,nan,2.00,nan,nan,5.00,nan,2.00,3.00,nan,...,None,None,Central,None,None,49.00,0.00,1,0,0
10711877,nan,nan,2.00,nan,nan,1.00,nan,2.00,4.00,nan,...,None,None,Central,None,None,49.00,0.00,1,0,0
10711888,nan,nan,2.00,nan,nan,1.00,nan,2.00,4.00,nan,...,None,None,Central,None,None,49.00,0.00,1,0,0
10711910,nan,nan,2.00,nan,nan,5.00,nan,2.00,3.00,nan,...,None,None,Central,None,None,61.00,0.00,1,0,0
10711923,nan,nan,2.00,nan,nan,5.00,nan,2.00,4.00,nan,...,None,None,Central,None,None,61.00,0.00,1,0,0

In [12]:
type(df)

pandas.core.frame.DataFrame

In [13]:
df.shape

(73201, 54)

In [15]:
df.describe()

,typeconstructiontypeid,storytypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,basementsqft,bathroomcnt,bedroomcnt,decktypeid,...,fireplaceflag,taxvaluedollarcnt,taxamount,taxdelinquencyyear,logerror,age_of_home,bath_pers_qft,la_county,orange_county,ventura_county
count,222.00,50.00,"73,201.00",0.00,206.00,"73,201.00",50.00,"73,201.00","73,201.00",597.00,...,"73,201.00","73,201.00","73,201.00","2,609.00","73,201.00","73,201.00","73,201.00","73,201.00","73,201.00","73,201.00"
mean,6.04,7.00,2.90,nan,7.39,3.94,679.72,2.26,3.01,66.00,...,0.11,"450,886.36","5,533.01",14.10,0.02,51.23,0.00,0.64,0.27,0.08
std,0.56,0.00,3.23,nan,2.73,2.28,689.70,0.90,0.99,0.00,...,0.32,"390,297.09","4,563.09",2.23,0.16,23.03,0.00,0.48,0.45,0.28
min,4.00,7.00,1.00,nan,2.00,1.00,38.00,1.00,1.00,66.00,...,0.00,"1,000.00",19.92,4.00,-4.66,5.00,0.00,0.00,0.00,0.00
25%,6.00,7.00,1.00,nan,7.00,1.00,273.00,2.00,2.00,66.00,...,0.00,"205,718.00","2,694.27",14.00,-0.02,34.00,0.00,0.00,0.00,0.00
50%,6.00,7.00,2.00,nan,7.00,5.00,515.00,2.00,3.00,66.00,...,0.00,"355,700.00","4,408.58",15.00,0.01,50.00,0.00,1.00,0.00,0.00
75%,6.00,7.00,2.00,nan,7.00,5.00,796.50,3.00,4.00,66.00,...,0.00,"560,000.00","6,796.34",15.00,0.04,67.00,0.00,1.00,1.00,0.00
max,13.00,7.00,24.00,nan,21.00,13.00,"3,560.00",10.00,11.00,66.00,...,1.00,"2,999,902.00","61,992.63",99.00,3.39,143.00,0.01,1.00,1.00,1.00

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73201 entries, 10711855 to 167688532
Data columns (total 54 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   typeconstructiontypeid        222 non-null    float64
 1   storytypeid                   50 non-null     float64
 2   heatingorsystemtypeid         73201 non-null  float64
 3   buildingclasstypeid           0 non-null      float64
 4   architecturalstyletypeid      206 non-null    float64
 5   airconditioningtypeid         73201 non-null  float64
 6   basementsqft                  50 non-null     float64
 7   bathroomcnt                   73201 non-null  float64
 8   bedroomcnt                    73201 non-null  float64
 9   decktypeid                    597 non-null    float64
 10  finishedfloor1squarefeet      5976 non-null   float64
 11  calculatedfinishedsquarefeet  73201 non-null  float64
 12  finishedsquarefeet13          41 non-null     float64
 13  finishedsquarefeet15          11 non-null     float64
 14  finishedsquarefeet50          5976 non-null   float64
 15  finishedsquarefeet6           158 non-null    float64
 16  fips                          73201 non-null  object
 17  fireplacecnt                  73201 non-null  float64
 18  garagecarcnt                  25102 non-null  float64
 19  garagetotalsqft               25102 non-null  float64
 20  hashottuborspa                1463 non-null   float64
 21  latitude                      73201 non-null  float64
 22  longitude                     73201 non-null  float64
 23  lotsizesquarefeet             73201 non-null  float64
 24  poolcnt                       73201 non-null  float64
 25  poolsizesum                   848 non-null    float64
 26  pooltypeid10                  448 non-null    float64
 27  pooltypeid2                   1015 non-null   float64
 28  pooltypeid7                   14655 non-null  float64
 29  regionidneighborhood          28629 non-null  float64
 30  roomcnt                       73201 non-null  float64
 31  threequarterbathnbr           9941 non-null   float64
 32  yardbuildingsqft17            2361 non-null   float64
 33  yardbuildingsqft26            67 non-null     float64
 34  yearbuilt                     73201 non-null  object
 35  numberofstories               17229 non-null  float64
 36  fireplaceflag                 73201 non-null  int64
 37  taxvaluedollarcnt             73201 non-null  float64
 38  taxamount                     73201 non-null  float64
 39  taxdelinquencyflag            2609 non-null   object
 40  taxdelinquencyyear            2609 non-null   float64
 41  logerror                      73201 non-null  float64
 42  transactiondate               73201 non-null  datetime64[ns]
 43  airconditioningdesc           73201 non-null  object
 44  architecturalstyledesc        206 non-null    object
 45  buildingclassdesc             0 non-null      object
 46  heatingorsystemdesc           73201 non-null  object
 47  storydesc                     50 non-null     object
 48  typeconstructiondesc          222 non-null    object
 49  age_of_home                   73201 non-null  float64
 50  bath_pers_qft                 73201 non-null  float64
 51  la_county                     73201 non-null  uint8
 52  orange_county                 73201 non-null  uint8
 53  ventura_county                73201 non-null  uint8
dtypes: datetime64[ns](1), float64(40), int64(1), object(9), uint8(3)
memory usage: 29.3+ MB

In [17]:
df.isnull().sum()

typeconstructiontypeid          72979
storytypeid                     73151
heatingorsystemtypeid               0
buildingclasstypeid             73201
architecturalstyletypeid        72995
airconditioningtypeid               0
basementsqft                    73151
bathroomcnt                         0
bedroomcnt                          0
decktypeid                      72604
finishedfloor1squarefeet        67225
calculatedfinishedsquarefeet        0
finishedsquarefeet13            73160
finishedsquarefeet15            73190
finishedsquarefeet50            67225
finishedsquarefeet6             73043
fips                                0
fireplacecnt                        0
garagecarcnt                    48099
garagetotalsqft                 48099
hashottuborspa                  71738
latitude                            0
longitude                           0
lotsizesquarefeet                   0
poolcnt                             0
poolsizesum                     72353
pooltypeid10                    72753
pooltypeid2                     72186
pooltypeid7                     58546
regionidneighborhood            44572
roomcnt                             0
threequarterbathnbr             63260
yardbuildingsqft17              70840
yardbuildingsqft26              73134
yearbuilt                           0
numberofstories                 55972
fireplaceflag                       0
taxvaluedollarcnt                   0
taxamount                           0
taxdelinquencyflag              70592
taxdelinquencyyear              70592
logerror                            0
transactiondate                     0
airconditioningdesc                 0
architecturalstyledesc          72995
buildingclassdesc               73201
heatingorsystemdesc                 0
storydesc                       73151
typeconstructiondesc            72979
age_of_home                         0
bath_pers_qft                       0
la_county                           0
orange_county                       0
ventura_county                      0
dtype: int64

In [18]:
from wrangle import missing_zero_values_table

In [19]:
missing_zero_values_table(df)

Your selected dataframe has 54 columns and 73201 Rows.
There are 29 columns that have NULL values.

,Zero Values,null_count,% of Total Values,Total Zeroes + Null Values,% Total Zero + Null Values,Data Type
buildingclasstypeid,0,73201,100.00,73201,100.00,float64
buildingclassdesc,0,73201,100.00,73201,100.00,object
finishedsquarefeet15,0,73190,100.00,73190,100.00,float64
finishedsquarefeet13,0,73160,99.90,73160,99.90,float64
storydesc,0,73151,99.90,73151,99.90,object
basementsqft,0,73151,99.90,73151,99.90,float64
storytypeid,0,73151,99.90,73151,99.90,float64
yardbuildingsqft26,0,73134,99.90,73134,99.90,float64
finishedsquarefeet6,0,73043,99.80,73043,99.80,float64
architecturalstyletypeid,0,72995,99.70,72995,99.70,float64
architecturalstyledesc,0,72995,99.70,72995,99.70,object
typeconstructiontypeid,0,72979,99.70,72979,99.70,float64
typeconstructiondesc,0,72979,99.70,72979,99.70,object
pooltypeid10,0,72753,99.40,72753,99.40,float64
decktypeid,0,72604,99.20,72604,99.20,float64
poolsizesum,0,72353,98.80,72353,98.80,float64
pooltypeid2,0,72186,98.60,72186,98.60,float64
hashottuborspa,0,71738,98.00,71738,98.00,float64
yardbuildingsqft17,0,70840,96.80,70840,96.80,float64
taxdelinquencyyear,0,70592,96.40,70592,96.40,float64
taxdelinquencyflag,0,70592,96.40,70592,96.40,object
finishedsquarefeet50,0,67225,91.80,67225,91.80,float64
finishedfloor1squarefeet,0,67225,91.80,67225,91.80,float64
threequarterbathnbr,0,63260,86.40,63260,86.40,float64
pooltypeid7,0,58546,80.00,58546,80.00,float64
numberofstories,0,55972,76.50,55972,76.50,float64
garagecarcnt,71,48099,65.70,48170,65.80,float64
garagetotalsqft,7500,48099,65.70,55599,76.00,float64
regionidneighborhood,0,44572,60.90,44572,60.90,float64
heatingorsystemtypeid,0,0,0.00,0,0.00,float64
airconditioningtypeid,0,0,0.00,0,0.00,float64
age_of_home,0,0,0.00,0,0.00,float64
logerror,0,0,0.00,0,0.00,float64
heatingorsystemdesc,0,0,0.00,0,0.00,object
bath_pers_qft,65,0,0.00,65,0.10,float64
la_county,26202,0,0.00,26202,35.80,uint8
orange_county,53097,0,0.00,53097,72.50,uint8
bathroomcnt,0,0,0.00,0,0.00,float64
bedroomcnt,0,0,0.00,0,0.00,float64
airconditioningdesc,0,0,0.00,0,0.00,object
transactiondate,0,0,0.00,0,0.00,datetime64[ns]
fireplacecnt,64823,0,0.00,64823,88.60,float64
taxamount,0,0,0.00,0,0.00,float64
taxvaluedollarcnt,0,0,0.00,0,0.00,float64
fireplaceflag,64823,0,0.00,64823,88.60,int64
yearbuilt,0,0,0.00,0,0.00,object
roomcnt,55772,0,0.00,55772,76.20,float64
calculatedfinishedsquarefeet,0,0,0.00,0,0.00,float64
fips,0,0,0.00,0,0.00,object
poolcnt,57512,0,0.00,57512,78.60,float64
lotsizesquarefeet,0,0,0.00,0,0.00,float64
longitude,0,0,0.00,0,0.00,float64
latitude,0,0,0.00,0,0.00,float64
ventura_county,67103,0,0.00,67103,91.70,uint8

In [20]:
from wrangle import split

In [21]:
train, validate, test = split(df)

In [22]:
train. shape

(40992, 54)

In [23]:
validate.shape

(17568, 54)

In [24]:
test.shape

(14641, 54)

In [25]:
from wrangle import seperate_y

In [26]:
X_train, y_train, X_validate, y_validate, X_test, y_test = seperate_y(train, validate, test)

KeyError: "['tax_value'] not found in axis"

In [27]:
from wrangle import scale_data

In [29]:
train_scaled, validate_scaled, test_scaled = scale_data(train, validate, test)

NameError: name 'sklearn' is not defined