In [1]:
# ignore warnings
import warnings
warnings.filterwarnings("ignore")
# Wrangling
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler
# Statistical Tests
import scipy.stats as stats
from scipy.stats import norm
# Visualizing
import matplotlib.pyplot as plt
from matplotlib import cm
import matplotlib.dates as dates
import seaborn as sns
from sklearn.model_selection import learning_curve
import datetime
pd.options.display.float_format = '{:20,.2f}'.format
import env

In [2]:
import wrangle

from wrangle import get_zillow_data

In [3]:
df = pd.read_csv('zillowcluster_df.csv')

In [4]:
df.head()

,Unnamed: 0,typeconstructiontypeid,storytypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,parcelid,id,basementsqft,...,taxdelinquencyyear,censustractandblock,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,storydesc,typeconstructiondesc
0,0,nan,nan,2.00,nan,nan,nan,10711855,1087254,nan,...,nan,"60,371,132,321,007.00",-0.01,2017-07-07,NaN,NaN,NaN,Central,NaN,NaN
1,1,nan,nan,2.00,nan,nan,1.00,10711877,1072280,nan,...,nan,"60,371,132,321,007.00",0.02,2017-08-29,Central,NaN,NaN,Central,NaN,NaN
2,2,nan,nan,2.00,nan,nan,1.00,10711888,1340933,nan,...,nan,"60,371,132,321,007.00",0.08,2017-04-04,Central,NaN,NaN,Central,NaN,NaN
3,3,nan,nan,2.00,nan,nan,nan,10711910,1878109,nan,...,nan,"60,371,132,321,008.00",-0.04,2017-03-17,NaN,NaN,NaN,Central,NaN,NaN
4,4,nan,nan,2.00,nan,nan,nan,10711923,2190858,nan,...,nan,"60,371,132,321,008.00",-0.01,2017-03-24,NaN,NaN,NaN,Central,NaN,NaN

In [5]:
df.shape

(77413, 68)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77413 entries, 0 to 77412
Data columns (total 68 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    77413 non-null  int64
 1   typeconstructiontypeid        222 non-null    float64
 2   storytypeid                   50 non-null     float64
 3   heatingorsystemtypeid         49439 non-null  float64
 4   buildingclasstypeid           15 non-null     float64
 5   architecturalstyletypeid      206 non-null    float64
 6   airconditioningtypeid         24953 non-null  float64
 7   parcelid                      77413 non-null  int64
 8   id                            77413 non-null  int64
 9   basementsqft                  50 non-null     float64
 10  bathroomcnt                   77380 non-null  float64
 11  bedroomcnt                    77380 non-null  float64
 12  buildingqualitytypeid         49671 non-null  float64
 13  calculatedbathnbr             76771 non-null  float64
 14  decktypeid                    614 non-null    float64
 15  finishedfloor1squarefeet      6023 non-null   float64
 16  calculatedfinishedsquarefeet  77184 non-null  float64
 17  finishedsquarefeet12          73748 non-null  float64
 18  finishedsquarefeet13          41 non-null     float64
 19  finishedsquarefeet15          3009 non-null   float64
 20  finishedsquarefeet50          6023 non-null   float64
 21  finishedsquarefeet6           386 non-null    float64
 22  fips                          77380 non-null  float64
 23  fireplacecnt                  8276 non-null   float64
 24  fullbathcnt                   76771 non-null  float64
 25  garagecarcnt                  25474 non-null  float64
 26  garagetotalsqft               25474 non-null  float64
 27  hashottuborspa                1538 non-null   float64
 28  latitude                      77380 non-null  float64
 29  longitude                     77380 non-null  float64
 30  lotsizesquarefeet             69141 non-null  float64
 31  poolcnt                       16137 non-null  float64
 32  poolsizesum                   867 non-null    float64
 33  pooltypeid10                  464 non-null    float64
 34  pooltypeid2                   1074 non-null   float64
 35  pooltypeid7                   15042 non-null  float64
 36  propertycountylandusecode     77380 non-null  object
 37  propertylandusetypeid         77380 non-null  float64
 38  propertyzoningdesc            50330 non-null  object
 39  rawcensustractandblock        77380 non-null  float64
 40  regionidcity                  75909 non-null  float64
 41  regionidcounty                77380 non-null  float64
 42  regionidneighborhood          30890 non-null  float64
 43  regionidzip                   77330 non-null  float64
 44  roomcnt                       77380 non-null  float64
 45  threequarterbathnbr           10096 non-null  float64
 46  unitcnt                       50562 non-null  float64
 47  yardbuildingsqft17            2388 non-null   float64
 48  yardbuildingsqft26            70 non-null     float64
 49  yearbuilt                     77117 non-null  float64
 50  numberofstories               17560 non-null  float64
 51  fireplaceflag                 172 non-null    float64
 52  structuretaxvaluedollarcnt    77268 non-null  float64
 53  taxvaluedollarcnt             77379 non-null  float64
 54  assessmentyear                77380 non-null  float64
 55  landtaxvaluedollarcnt         77378 non-null  float64
 56  taxamount                     77375 non-null  float64
 57  taxdelinquencyflag            2886 non-null   object
 58  taxdelinquencyyear            2886 non-null   float64
 59  censustractandblock           77136 non-null  float64
 60  logerror                      77413 non-null  float64
 61  transactiondate               77413 non-null  object
 62  airconditioningdesc           24953 non-null  object
 63  architecturalstyledesc        206 non-null    object
 64  buildingclassdesc             15 non-null     object
 65  heatingorsystemdesc           49439 non-null  object
 66  storydesc                     50 non-null     object
 67  typeconstructiondesc          222 non-null    object
dtypes: float64(55), int64(3), object(10)
memory usage: 40.2+ MB

In [7]:
df.describe()

,Unnamed: 0,typeconstructiontypeid,storytypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,parcelid,id,basementsqft,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyyear,censustractandblock,logerror
count,"77,413.00",222.00,50.00,"49,439.00",15.00,206.00,"24,953.00","77,413.00","77,413.00",50.00,...,"17,560.00",172.00,"77,268.00","77,379.00","77,380.00","77,378.00","77,375.00","2,886.00","77,136.00","77,413.00"
mean,"38,706.00",6.04,7.00,3.92,3.93,7.39,1.81,"13,006,697.32","1,495,761.15",679.72,...,1.43,1.00,"189,315.98","490,137.46","2,016.00","301,096.94","5,995.57",14.09,"60,496,735,236,339.62",0.02
std,"22,347.35",0.56,0.00,3.59,0.26,2.73,2.97,"3,480,712.14","861,270.67",689.70,...,0.54,0.00,"230,088.56","653,447.67",0.00,"492,599.03","7,622.89",2.19,"1,535,251,869,244.56",0.17
min,0.00,4.00,7.00,1.00,3.00,2.00,1.00,"10,711,855.00",349.00,38.00,...,1.00,1.00,44.00,"1,000.00","2,016.00",161.00,19.92,3.00,"60,371,011,101,000.00",-4.66
25%,"19,353.00",6.00,7.00,2.00,4.00,7.00,1.00,"11,538,336.00","752,413.00",273.00,...,1.00,1.00,"84,265.00","207,000.00","2,016.00","85,504.00","2,715.59",14.00,"60,373,109,005,001.75",-0.02
50%,"38,706.00",6.00,7.00,2.00,4.00,7.00,1.00,"12,530,673.00","1,498,471.00",515.00,...,1.00,1.00,"136,499.50","358,976.00","2,016.00","203,383.50","4,450.72",15.00,"60,376,032,003,008.00",0.01
75%,"58,059.00",6.00,7.00,7.00,4.00,7.00,1.00,"14,211,486.00","2,241,718.00",796.50,...,2.00,1.00,"218,787.50","569,003.00","2,016.00","366,802.25","6,927.80",15.00,"60,590,423,251,008.00",0.04
max,"77,412.00",13.00,7.00,24.00,4.00,21.00,13.00,"167,689,317.00","2,985,182.00","3,560.00",...,6.00,1.00,"11,421,790.00","49,061,236.00","2,016.00","48,952,198.00","586,639.30",99.00,"483,030,105,084,015.00",5.26

In [8]:
df.isnull().sum()

Unnamed: 0                          0
typeconstructiontypeid          77191
storytypeid                     77363
heatingorsystemtypeid           27974
buildingclasstypeid             77398
architecturalstyletypeid        77207
airconditioningtypeid           52460
parcelid                            0
id                                  0
basementsqft                    77363
bathroomcnt                        33
bedroomcnt                         33
buildingqualitytypeid           27742
calculatedbathnbr                 642
decktypeid                      76799
finishedfloor1squarefeet        71390
calculatedfinishedsquarefeet      229
finishedsquarefeet12             3665
finishedsquarefeet13            77372
finishedsquarefeet15            74404
finishedsquarefeet50            71390
finishedsquarefeet6             77027
fips                               33
fireplacecnt                    69137
fullbathcnt                       642
garagecarcnt                    51939
garagetotalsqft                 51939
hashottuborspa                  75875
latitude                           33
longitude                          33
lotsizesquarefeet                8272
poolcnt                         61276
poolsizesum                     76546
pooltypeid10                    76949
pooltypeid2                     76339
pooltypeid7                     62371
propertycountylandusecode          33
propertylandusetypeid              33
propertyzoningdesc              27083
rawcensustractandblock             33
regionidcity                     1504
regionidcounty                     33
regionidneighborhood            46523
regionidzip                        83
roomcnt                            33
threequarterbathnbr             67317
unitcnt                         26851
yardbuildingsqft17              75025
yardbuildingsqft26              77343
yearbuilt                         296
numberofstories                 59853
fireplaceflag                   77241
structuretaxvaluedollarcnt        145
taxvaluedollarcnt                  34
assessmentyear                     33
landtaxvaluedollarcnt              35
taxamount                          38
taxdelinquencyflag              74527
taxdelinquencyyear              74527
censustractandblock               277
logerror                            0
transactiondate                     0
airconditioningdesc             52460
architecturalstyledesc          77207
buildingclassdesc               77398
heatingorsystemdesc             27974
storydesc                       77363
typeconstructiondesc            77191
dtype: int64

In [9]:
from wrangle import clean_zillow

In [10]:
df = clean_zillow(df)

In [11]:
df.head()

,heatingorsystemtypeid,airconditioningtypeid,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,fips,latitude,longitude,lotsizesquarefeet,poolcnt,...,age_bin,baths_per_sqft,taxrate,bath_bed_ratio,acres,acres_bin,sqft_bin,la_county,orange_county,ventura_county
parcelid,,,,,,,,,,,,,,,,,,,,,
10711855,2.00,5.00,2.00,3.00,"2,107.00",6037,34.22,-118.62,"9,158.00",1.00,...,0.33,0.00,1.23,0.67,0.21,0.30,0.50,1,0,0
10711877,2.00,1.00,2.00,4.00,"1,882.00",6037,34.22,-118.62,"9,035.00",1.00,...,0.33,0.00,1.23,0.50,0.21,0.30,0.40,1,0,0
10711888,2.00,1.00,2.00,4.00,"1,882.00",6037,34.22,-118.62,"9,800.00",0.00,...,0.33,0.00,1.23,0.50,0.22,0.30,0.40,1,0,0
10711910,2.00,5.00,2.00,3.00,"1,477.00",6037,34.22,-118.62,"11,285.00",1.00,...,0.47,0.00,1.43,0.67,0.26,0.30,0.30,1,0,0
10711923,2.00,5.00,2.00,4.00,"1,918.00",6037,34.22,-118.62,"11,239.00",1.00,...,0.47,0.00,1.26,0.50,0.26,0.30,0.40,1,0,0

In [12]:
type(df)

pandas.core.frame.DataFrame

In [13]:
df.shape

(73150, 30)

In [14]:
df.describe()

,heatingorsystemtypeid,airconditioningtypeid,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,latitude,longitude,lotsizesquarefeet,poolcnt,roomcnt,...,age_bin,baths_per_sqft,taxrate,bath_bed_ratio,acres,acres_bin,sqft_bin,la_county,orange_county,ventura_county
count,"73,150.00","73,150.00","73,150.00","73,150.00","73,150.00","73,150.00","73,150.00","73,150.00","73,150.00","73,150.00",...,"73,150.00","73,150.00","73,150.00","73,150.00","73,150.00","73,150.00","73,150.00","73,150.00","73,150.00","73,150.00"
mean,2.90,3.94,2.26,3.01,"1,726.81",34.01,-118.20,"28,372.46",0.21,1.55,...,0.37,0.00,1.31,inf,0.65,0.21,0.35,0.64,0.27,0.08
std,3.23,2.28,0.90,0.99,835.66,0.27,0.36,"119,455.55",0.41,2.87,...,0.15,0.00,0.58,nan,2.74,0.15,0.19,0.48,0.45,0.28
min,1.00,1.00,1.00,1.00,152.00,33.34,-119.48,236.00,0.00,0.00,...,0.00,0.00,0.01,0.00,0.01,0.00,0.00,0.00,0.00,0.00
25%,1.00,1.00,2.00,2.00,"1,168.00",33.81,-118.42,"5,991.00",0.00,0.00,...,0.27,0.00,1.16,0.60,0.14,0.10,0.20,0.00,0.00,0.00
50%,2.00,5.00,2.00,3.00,"1,514.00",34.02,-118.17,"7,280.00",0.00,0.00,...,0.33,0.00,1.23,0.75,0.17,0.20,0.40,1.00,0.00,0.00
75%,2.00,5.00,3.00,4.00,"2,052.00",34.18,-117.92,"10,705.00",0.00,0.00,...,0.47,0.00,1.34,1.00,0.25,0.30,0.50,1.00,1.00,0.00
max,24.00,13.00,10.00,11.00,"7,970.00",34.82,-117.55,"6,971,010.00",1.00,14.00,...,0.93,0.01,81.65,inf,160.03,0.90,0.90,1.00,1.00,1.00

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73150 entries, 10711855 to 167688532
Data columns (total 30 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   heatingorsystemtypeid         73150 non-null  float64
 1   airconditioningtypeid         73150 non-null  float64
 2   bathroomcnt                   73150 non-null  float64
 3   bedroomcnt                    73150 non-null  float64
 4   calculatedfinishedsquarefeet  73150 non-null  float64
 5   fips                          73150 non-null  object
 6   latitude                      73150 non-null  float64
 7   longitude                     73150 non-null  float64
 8   lotsizesquarefeet             73150 non-null  float64
 9   poolcnt                       73150 non-null  float64
 10  roomcnt                       73150 non-null  float64
 11  yearbuilt                     73150 non-null  object
 12  fireplaceflag                 73150 non-null  int64
 13  taxvaluedollarcnt             73150 non-null  float64
 14  taxamount                     73150 non-null  float64
 15  logerror                      73150 non-null  float64
 16  transactiondate               73150 non-null  datetime64[ns]
 17  airconditioningdesc           73150 non-null  object
 18  heatingorsystemdesc           73150 non-null  object
 19  age_of_home                   73150 non-null  float64
 20  age_bin                       73150 non-null  float64
 21  baths_per_sqft                73150 non-null  float64
 22  taxrate                       73150 non-null  float64
 23  bath_bed_ratio                73150 non-null  float64
 24  acres                         73150 non-null  float64
 25  acres_bin                     73150 non-null  float64
 26  sqft_bin                      73150 non-null  float64
 27  la_county                     73150 non-null  uint8
 28  orange_county                 73150 non-null  uint8
 29  ventura_county                73150 non-null  uint8
dtypes: datetime64[ns](1), float64(21), int64(1), object(4), uint8(3)
memory usage: 15.8+ MB

In [16]:
df.isnull().sum()

heatingorsystemtypeid           0
airconditioningtypeid           0
bathroomcnt                     0
bedroomcnt                      0
calculatedfinishedsquarefeet    0
fips                            0
latitude                        0
longitude                       0
lotsizesquarefeet               0
poolcnt                         0
roomcnt                         0
yearbuilt                       0
fireplaceflag                   0
taxvaluedollarcnt               0
taxamount                       0
logerror                        0
transactiondate                 0
airconditioningdesc             0
heatingorsystemdesc             0
age_of_home                     0
age_bin                         0
baths_per_sqft                  0
taxrate                         0
bath_bed_ratio                  0
acres                           0
acres_bin                       0
sqft_bin                        0
la_county                       0
orange_county                   0
ventura_county                  0
dtype: int64

In [17]:
from wrangle import missing_zero_values_table

In [18]:
missing_zero_values_table(df)

Your selected dataframe has 30 columns and 73150 Rows.
There are 0 columns that have NULL values.

,Zero Values,null_count,% of Total Values,Total Zeroes + Null Values,% Total Zero + Null Values,Data Type
heatingorsystemtypeid,0,0,0.00,0,0.00,float64
airconditioningtypeid,0,0,0.00,0,0.00,float64
orange_county,53050,0,0.00,53050,72.50,uint8
la_county,26180,0,0.00,26180,35.80,uint8
sqft_bin,3411,0,0.00,3411,4.70,float64
acres_bin,7792,0,0.00,7792,10.70,float64
acres,0,0,0.00,0,0.00,float64
bath_bed_ratio,16,0,0.00,16,0.00,float64
taxrate,0,0,0.00,0,0.00,float64
baths_per_sqft,16,0,0.00,16,0.00,float64
age_bin,4,0,0.00,4,0.00,float64
age_of_home,0,0,0.00,0,0.00,float64
heatingorsystemdesc,0,0,0.00,0,0.00,object
airconditioningdesc,0,0,0.00,0,0.00,object
transactiondate,0,0,0.00,0,0.00,datetime64[ns]
logerror,0,0,0.00,0,0.00,float64
taxamount,0,0,0.00,0,0.00,float64
taxvaluedollarcnt,0,0,0.00,0,0.00,float64
fireplaceflag,64773,0,0.00,64773,88.50,int64
yearbuilt,0,0,0.00,0,0.00,object
roomcnt,55722,0,0.00,55722,76.20,float64
poolcnt,57468,0,0.00,57468,78.60,float64
lotsizesquarefeet,0,0,0.00,0,0.00,float64
longitude,0,0,0.00,0,0.00,float64
latitude,0,0,0.00,0,0.00,float64
fips,0,0,0.00,0,0.00,object
calculatedfinishedsquarefeet,0,0,0.00,0,0.00,float64
bedroomcnt,0,0,0.00,0,0.00,float64
bathroomcnt,0,0,0.00,0,0.00,float64
ventura_county,67070,0,0.00,67070,91.70,uint8

In [19]:
from wrangle import split

In [20]:
train, validate, test = split(df)

In [21]:
train. shape

(40964, 30)

In [22]:
validate.shape

(17556, 30)

In [23]:
test.shape

(14630, 30)

In [24]:
from wrangle import seperate_y

In [25]:
X_train, y_train, X_validate, y_validate, X_test, y_test = seperate_y(train, validate, test)

In [26]:
from wrangle import scale_data

In [27]:
train_scaled, validate_scaled, test_scaled = scale_data(train, validate, test)

In [28]:
train_scaled.head()

,heatingorsystemtypeid,airconditioningtypeid,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,latitude,longitude,lotsizesquarefeet,poolcnt,roomcnt,...,age_of_home,age_bin,baths_per_sqft,taxrate,acres,acres_bin,sqft_bin,la_county,orange_county,ventura_county
0,0.26,0.33,0.00,0.10,0.09,0.38,0.67,0.00,0.00,0.00,...,0.54,0.57,0.09,0.06,0.00,0.22,0.11,1.00,0.00,0.00
1,0.04,0.00,0.11,0.10,0.12,0.43,0.57,0.00,1.00,0.00,...,0.04,0.14,0.14,0.04,0.00,0.22,0.22,1.00,0.00,0.00
2,0.04,0.00,0.11,0.10,0.10,0.57,0.46,0.02,1.00,0.00,...,0.04,0.14,0.16,0.04,0.02,0.56,0.22,1.00,0.00,0.00
3,0.26,0.33,0.00,0.20,0.11,0.49,0.87,0.00,0.00,0.00,...,0.47,0.50,0.08,0.07,0.00,0.22,0.22,1.00,0.00,0.00
4,0.04,0.00,0.00,0.20,0.16,0.30,0.67,0.01,0.00,0.00,...,0.08,0.14,0.05,0.04,0.01,0.56,0.44,1.00,0.00,0.00

In [29]:
validate_scaled.head()

,heatingorsystemtypeid,airconditioningtypeid,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,latitude,longitude,lotsizesquarefeet,poolcnt,roomcnt,...,age_of_home,age_bin,baths_per_sqft,taxrate,acres,acres_bin,sqft_bin,la_county,orange_county,ventura_county
0,0.04,0.33,0.22,0.10,0.22,0.50,0.48,0.04,0.00,0.00,...,0.28,0.36,0.13,0.04,0.04,0.67,0.44,1.00,0.00,0.00
1,0.26,0.33,0.00,0.10,0.05,0.53,0.67,0.00,0.00,0.00,...,0.71,0.71,0.12,0.04,0.00,0.11,0.00,1.00,0.00,0.00
2,0.00,0.33,0.17,0.20,0.19,0.14,0.96,0.00,0.00,0.00,...,0.10,0.14,0.12,0.05,0.00,0.22,0.44,0.00,1.00,0.00
3,0.04,0.33,0.22,0.20,0.23,0.53,0.71,0.00,1.00,0.00,...,0.57,0.64,0.12,0.05,0.00,0.33,0.44,1.00,0.00,0.00
4,0.00,0.33,0.22,0.20,0.16,0.57,0.15,0.00,0.00,0.36,...,0.34,0.43,0.17,0.04,0.00,0.00,0.33,0.00,0.00,1.00

In [30]:
test_scaled.head()

,heatingorsystemtypeid,airconditioningtypeid,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,latitude,longitude,lotsizesquarefeet,poolcnt,roomcnt,...,age_of_home,age_bin,baths_per_sqft,taxrate,acres,acres_bin,sqft_bin,la_county,orange_county,ventura_county
0,0.00,0.33,0.11,0.10,0.12,0.40,0.79,0.00,0.00,0.00,...,0.24,0.29,0.14,0.04,0.00,0.22,0.22,0.00,1.00,0.00
1,0.04,0.33,0.11,0.20,0.17,0.60,0.52,0.00,0.00,0.00,...,0.43,0.50,0.10,0.05,0.00,0.22,0.44,1.00,0.00,0.00
2,0.00,0.33,0.00,0.00,0.02,0.21,0.99,0.00,0.00,0.00,...,0.22,0.29,0.20,0.05,0.00,0.22,0.00,0.00,1.00,0.00
3,0.04,0.00,0.22,0.20,0.31,0.29,0.71,0.00,1.00,0.00,...,0.26,0.29,0.09,0.04,0.00,0.00,0.67,1.00,0.00,0.00
4,0.00,0.33,0.11,0.20,0.22,0.29,0.83,0.00,0.00,0.43,...,0.47,0.50,0.08,0.04,0.00,0.22,0.44,0.00,1.00,0.00